<mat-toolbar color="secondary" fxLayout="row" fxLayoutAlign="end center">
    <div class="full-overlay" fxLayoutAlign="center center">
        <span>{{tradingBook.setting.name}}</span>
    </div>
    <div>
        <button mat-icon-button (click)="onAddNewRowClick()">
            <mat-icon class="secondary">add</mat-icon>
        </button>
        <!-- <button mat-icon-button (click)="onSyncBtnClick()">
            <mat-icon class="secondary">sync</mat-icon>
        </button> -->
        <button mat-icon-button (click)="onSettingsBtnClick()">
            <mat-icon class="secondary">settings</mat-icon>
        </button>
    </div>
</mat-toolbar>
<ag-grid-angular   
    class="ag-theme-material"
    [rowData]="tradingBook.trades" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [columnTypes]="columnTypes"
    [frameworkComponents]="frameworkComponents"
    [context]="gridContext"
    (gridReady)="onGridReady($event)">
</ag-grid-angular>
<div fxLayoutAlign="end center" class="trading-book-info">
    <amp-money-label title="Capital: "[value]="tradingBook.setting.totalCaptal"></amp-money-label>
</div>
