<section 
  class="content"
  fxLayoutAlign="center center">
  <mat-card>
    <mat-progress-bar mode="indeterminate" *ngIf="isProgressVisible"></mat-progress-bar>
    <mat-tab-group>
      <mat-tab i18n-label=@@home.signUpTab.label label="Sign - Up"> 
        <amp-sign-up
          (onSignUpStarted)="showProgress()"
          (onSignUpFinished)="hideProgress()">
        </amp-sign-up> 
      </mat-tab>
      <mat-tab label="Login"> 
        <amp-login 
          (onLoginStarted)="showProgress()"
          (onLoginFinished)="hideProgress()">
        </amp-login> 
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</section>
