<h1 mat-dialog-title>Novo book de ofertas</h1>
<form fxLayout="column" fxLayoutGap="1.2rem" mat-dialog-content [formGroup]="bookSettingsForm" novalidate>
  <amp-input 
    errorMessage="Informar o nome do book de ofertas é obrigatório"
    placeholder="Nome do book" 
    [parentFormGroup]="bookSettingsForm"
    controlName="bookName">
  </amp-input>
  <mat-form-field>
    <input formControlName="amountPerCaptal" type="number" matInput placeholder="% Concentração de capital por boleta">
    <mat-error *ngIf="bookSettingsForm.controls['amountPerCaptal'].hasError('required')">
      Informar a porcentagem de capital por boleta é obrigatório
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="number" formControlName="riskGainRelationship" matInput placeholder="Relação risco ganho">
    <mat-error *ngIf="bookSettingsForm.controls['riskGainRelationship'].hasError('required')">
      Informar a relação risco ganho do book é obrigatório
    </mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoBtnClick()">Agora Não!</button>
  <button mat-raised-button color="primary" cdkFocusInitial>Ok</button>
</div>

