<section>
  <h1 mat-dialog-title>{{settings.title}}</h1>
  <form 
    fxLayout="column" 
    fxLayoutGap="1rem" 
    mat-dialog-content 
    [formGroup]="bookSettingsForm" novalidate>

    <amp-input
      [errorMessages]="controlErrorMessages.get(bookName)"
      i18n-placeholder=@@tradingBook.portfolioNameInput.placeholder
      placeholder="Portfolio Name" 
      [parentFormGroup]="bookSettingsForm"
      [controlName]="bookName">
    </amp-input>
    <amp-input 
      [errorMessages]="controlErrorMessages.get(amountPerCaptal)"
      [controlName]="amountPerCaptal" 
      type="number"
      [min]=amountPerCaptalMin
      [max]=amountPerCaptalMax
      i18n-placeholder=@@tradingBook.capitalPerTradingInput.placeholder
      placeholder="% Acceptable capital per trading"
      [parentFormGroup]="bookSettingsForm">
    </amp-input>
    <amp-input 
      [errorMessages]="controlErrorMessages.get(riskRewardRatio)"
      type="number" 
      [min]=riskRewardRatioMin
      [max]=riskRewardRatioMax
      [controlName]=riskRewardRatio 
      i18n-placeholder=@@tradingBook.riskRewarRatioInput.placeholder
      placeholder="Acceptable risk reward ratio"
      [parentFormGroup]="bookSettingsForm">
    </amp-input>
    <amp-input 
      [errorMessages]="controlErrorMessages.get(riskPerTrade)"
      type="number" 
      [min]=riskPerTradeMin
      [max]=riskPerTradeMax
      [controlName]=riskPerTrade 
      i18n-placeholder=@@tradingBook.riskPerTradingInput.placeholder
      placeholder="% Acceptable risk per trading"
      [parentFormGroup]="bookSettingsForm">
    </amp-input>
    <amp-input 
      [errorMessages]="controlErrorMessages.get(totalCaptal)"
      type="number" 
      [min]=totalCaptalMin
      [max]=totalCaptalMax
      [controlName]=totalCaptal 
      i18n-placeholder=@@tradingBook.capitalInput.placeholder
      placeholder="Capital"
      [parentFormGroup]="bookSettingsForm">
    </amp-input>
  </form>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
    <button 
      mat-button 
      (click)="onNoBtnClick()"
      i18n="@@tradingBook.noButton">No, thanks!</button>
    <button mat-raised-button 
            color="primary" 
            (click)="onOkBtnClick()" 
            [disabled]="!bookSettingsForm.valid"
            i18n="@@tradingBook.okButton">Ok</button>
  </div>
</section>


