<section>
  <h1 mat-dialog-title>Novo book de ofertas</h1>
  <form fxLayout="column" fxLayoutGap="1.2rem" mat-dialog-content [formGroup]="bookSettingsForm" novalidate>
    <amp-input
      class="full-width"
      errorMessage="Informar o nome do book de ofertas é obrigatório"
      placeholder="Nome do book" 
      [parentFormGroup]="bookSettingsForm"
      controlName="bookName">
    </amp-input>
    <amp-input
      class="full-width" 
      errorMessage="Informar a porcentagem de capital por boleta é obrigatório"
      controlName="amountPerCaptal" 
      type="number"
      min="1"
      placeholder="% Concentração de capital por boleta"
      [parentFormGroup]="bookSettingsForm">
    </amp-input>
    <amp-input 
      class="full-width"
      errorMessage="Informar a relação risco ganho do book é obrigatório"
      type="number" 
      min="1"
      controlName="riskGainRelationship" 
      placeholder="Relação risco ganho"
      [parentFormGroup]="bookSettingsForm">
    </amp-input>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
      <button mat-button (click)="onNoBtnClick()">Agora Não!</button>
      <button mat-raised-button 
              color="primary" 
              (click)="onOkBtnClick()" 
              cdkFocusInitial
              [disabled]="!bookSettingsForm.valid">Ok</button>
    </div>
  </form>
</section>


