<section>
  <h1 mat-dialog-title>{{settings.title}}</h1>
  <form fxLayout="column" fxLayoutGap="1.2rem" mat-dialog-content [formGroup]="bookSettingsForm" novalidate>
    <amp-input
      class="full-width"
      [errorMessages]="controlErrorMessages.get(bookName)"
      placeholder="Nome do book" 
      [parentFormGroup]="bookSettingsForm"
      [controlName]="bookName">
    </amp-input>
    <amp-input
      class="full-width" 
      [errorMessages]="controlErrorMessages.get(amountPerCaptal)"
      [controlName]="amountPerCaptal" 
      type="number"
      [min]=amountPerCaptalMin
      [max]=amountPerCaptalMax
      placeholder="% Concentração de capital por boleta"
      [parentFormGroup]="bookSettingsForm">
    </amp-input>
    <amp-input 
      class="full-width"
      [errorMessages]="controlErrorMessages.get(riskRewardRatio)"
      type="number" 
      [min]=riskRewardRatioMin
      [max]=riskRewardRatioMax
      [controlName]=riskRewardRatio 
      placeholder="Relação risco ganho"
      [parentFormGroup]="bookSettingsForm">
    </amp-input>
    <amp-input 
      class="full-width"
      [errorMessages]="controlErrorMessages.get(riskPerTrade)"
      type="number" 
      [min]=riskPerTradeMin
      [max]=riskPerTradeMax
      [controlName]=riskPerTrade 
      placeholder="% Aceitavel de risco por negociação"
      [parentFormGroup]="bookSettingsForm">
    </amp-input>
    <amp-input 
      class="full-width"
      [errorMessages]="controlErrorMessages.get(totalCaptal)"
      type="number" 
      [min]=totalCaptalMin
      [max]=totalCaptalMax
      [controlName]=totalCaptal 
      placeholder="Capital total"
      [parentFormGroup]="bookSettingsForm">
    </amp-input>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
      <button mat-button (click)="onNoBtnClick()">Agora Não!</button>
      <button mat-raised-button 
              color="primary" 
              (click)="onOkBtnClick()" 
              [disabled]="!bookSettingsForm.valid">Ok</button>
    </div>
  </form>
</section>


